<!-- roles reference ui https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/vertical-menu-template/app-access-roles.html -->
<h4 class="fw-semibold mb-2">Roles List</h4>
<p class="mb-4">A role provided access to predefined menus and features so that depending on <br> assigned role an administrator can have access to what user needs.</p>
<div class="content-wrapper container-xxl p-0">
  <div class="row g-4">
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="fw-normal mb-2">Total 4 users</h6>
            <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Vinnie Mostowy" data-bs-original-title="Vinnie Mostowy">
                <img class="rounded-circle" src="../../assets/img/avatars/5.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Allen Rieske" data-bs-original-title="Allen Rieske">
                <img class="rounded-circle" src="../../assets/img/avatars/12.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Julee Rossignol" data-bs-original-title="Julee Rossignol">
                <img class="rounded-circle" src="../../assets/img/avatars/6.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Kaith D'souza" data-bs-original-title="Kaith D'souza">
                <img class="rounded-circle" src="../../assets/img/avatars/3.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="John Doe" data-bs-original-title="John Doe">
                <img class="rounded-circle" src="../../assets/img/avatars/1.png" alt="Avatar">
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-between align-items-end mt-1">
            <div class="role-heading">
              <h4 class="mb-1">Administrator</h4>
              <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#addRoleModal" class="role-edit-modal"><span>Edit Role</span></a>
            </div>
            <a href="javascript:void(0);" class="text-muted"><i class="ti ti-copy ti-md"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="fw-normal mb-2">Total 7 users</h6>
            <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Jimmy Ressula" data-bs-original-title="Jimmy Ressula">
                <img class="rounded-circle" src="../../assets/img/avatars/4.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="John Doe" data-bs-original-title="John Doe">
                <img class="rounded-circle" src="../../assets/img/avatars/1.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Kristi Lawker" data-bs-original-title="Kristi Lawker">
                <img class="rounded-circle" src="../../assets/img/avatars/2.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Kaith D'souza" data-bs-original-title="Kaith D'souza">
                <img class="rounded-circle" src="../../assets/img/avatars/3.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Danny Paul" data-bs-original-title="Danny Paul">
                <img class="rounded-circle" src="../../assets/img/avatars/7.png" alt="Avatar">
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-between align-items-end mt-1">
            <div class="role-heading">
              <h4 class="mb-1">EPR Officer</h4>
              <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#addRoleModal" class="role-edit-modal"><span>Edit Role</span></a>
            </div>
            <a href="javascript:void(0);" class="text-muted"><i class="ti ti-copy ti-md"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="fw-normal mb-2">Total 5 users</h6>
            <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Andrew Tye" data-bs-original-title="Andrew Tye">
                <img class="rounded-circle" src="../../assets/img/avatars/6.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Rishi Swaat" data-bs-original-title="Rishi Swaat">
                <img class="rounded-circle" src="../../assets/img/avatars/9.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Rossie Kim" data-bs-original-title="Rossie Kim">
                <img class="rounded-circle" src="../../assets/img/avatars/12.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Kim Merchent" data-bs-original-title="Kim Merchent">
                <img class="rounded-circle" src="../../assets/img/avatars/10.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Sam D'souza" data-bs-original-title="Sam D'souza">
                <img class="rounded-circle" src="../../assets/img/avatars/13.png" alt="Avatar">
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-between align-items-end mt-1">
            <div class="role-heading">
              <h4 class="mb-1">EPI Cordinator</h4>
              <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#addRoleModal" class="role-edit-modal"><span>Edit Role</span></a>
            </div>
            <a href="javascript:void(0);" class="text-muted"><i class="ti ti-copy ti-md"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="fw-normal mb-2">Total 3 users</h6>
            <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Kim Karlos" data-bs-original-title="Kim Karlos">
                <img class="rounded-circle" src="../../assets/img/avatars/3.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Katy Turner" data-bs-original-title="Katy Turner">
                <img class="rounded-circle" src="../../assets/img/avatars/9.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Peter Adward" data-bs-original-title="Peter Adward">
                <img class="rounded-circle" src="../../assets/img/avatars/4.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Kaith D'souza" data-bs-original-title="Kaith D'souza">
                <img class="rounded-circle" src="../../assets/img/avatars/10.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="John Parker" data-bs-original-title="John Parker">
                <img class="rounded-circle" src="../../assets/img/avatars/11.png" alt="Avatar">
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-between align-items-end mt-1">
            <div class="role-heading">
              <h4 class="mb-1">NEPI Cordinator</h4>
              <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#addRoleModal" class="role-edit-modal"><span>Edit Role</span></a>
            </div>
            <a href="javascript:void(0);" class="text-muted"><i class="ti ti-copy ti-md"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="fw-normal mb-2">Total 2 users</h6>
            <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Kim Merchent" data-bs-original-title="Kim Merchent">
                <img class="rounded-circle" src="../../assets/img/avatars/10.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Sam D'souza" data-bs-original-title="Sam D'souza">
                <img class="rounded-circle" src="../../assets/img/avatars/13.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Nurvi Karlos" data-bs-original-title="Nurvi Karlos">
                <img class="rounded-circle" src="../../assets/img/avatars/5.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Andrew Tye" data-bs-original-title="Andrew Tye">
                <img class="rounded-circle" src="../../assets/img/avatars/8.png" alt="Avatar">
              </li>
              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-sm pull-up" aria-label="Rossie Kim" data-bs-original-title="Rossie Kim">
                <img class="rounded-circle" src="../../assets/img/avatars/9.png" alt="Avatar">
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-between align-items-end mt-1">
            <div class="role-heading">
              <h4 class="mb-1">Data Entry Clerk</h4>
              <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#addRoleModal" class="role-edit-modal"><span>Edit Role</span></a>
            </div>
            <a href="javascript:void(0);" class="text-muted"><i class="ti ti-copy ti-md"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card h-76">
        <div class="row h-100">
          <div class="col-sm-5">
            <div class="d-flex align-items-end h-100 justify-content-center mt-sm-0 mt-3">
              <img src="../../assets/images/illustration/add-new-roles.png" class="img-fluid mt-sm-4 mt-md-0" alt="add-new-roles" width="83">
            </div>
          </div>
          <div class="col-sm-7">
            <div class="card-body text-sm-end text-center ps-sm-0">
              <button data-bs-target="#addRoleModal" data-bs-toggle="modal" class="btn btn-primary mb-2 text-nowrap add-new-role waves-effect waves-light">Add New Role</button>
              <p class="mb-0 mt-1">Add role, if it does not exist</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
    <div class="content-body">
      <!-- User List -->
      <section class="users-list-wrapper">
        <!-- users filter start -->
        <div class="card">
          <h5 class="card-header">Search Filter</h5>
          <div class="card-body">
            <div class="users-list-filter">
              <form>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select
                        [items]="selectRole"
                        [(ngModel)]="selectedRole"
                        name="selectedRole"
                        bindLabel="name"
                        placeholder="Select Role"
                        (change)="filterByRole($event)"
                      ></ng-select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select
                        [items]="selectPlan"
                        [(ngModel)]="selectedPlan"
                        name="selectedPlan"
                        bindLabel="name"
                        placeholder="Select Plan"
                        (change)="filterByPlan($event)"
                      ></ng-select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select
                        [items]="selectStatus"
                        [(ngModel)]="selectedStatus"
                        name="selectedStatus"
                        bindLabel="name"
                        placeholder="Select Status"
                        (change)="filterByStatus($event)"
                      ></ng-select>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- users filter end -->
  
        <div class="card">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center"
                  >Show
                  <select class="form-control mx-25" [(ngModel)]="selectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries</label
                >
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <label class="d-flex align-items-center ml-1 ml-md-0"
                  >Search:<input
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    type="search"
                    class="form-control ml-25"
                    (keyup)="filterUpdate($event)"
                    (search)="filterUpdate($event)"
                /></label>
                <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('new-user-sidebar')">
                  <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                  ><span class="d-none d-sm-inline-block">Add New User</span>
                </button>
              </div>
            </div>
          </div>
          <ngx-datatable
            [rows]="rows"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="selectedOption"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="User" prop="fullName" [width]="200">
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <div *ngIf="row.avatar.length > 0; else customAvatar">
                    <img
                      class="rounded-circle mr-1"
                      src="{{ row.avatar }}"
                      height="32"
                      width="32"
                      alt="datatable-avatar"
                    />
                  </div>
                  <ng-template #customAvatar>
                    <div
                      class="avatar mr-1 ml-0"
                      [ngClass]="{
                        'bg-light-success': row.status == 'active',
                        'bg-light-secondary': row.status == 'inactive',
                        'bg-light-warning': row.status == 'pending'
                      }"
                    >
                      <div class="avatar-content">{{ name | initials }}</div>
                    </div>
                  </ng-template>
                  <div class="cell-line-height">
                    <a routerLink="/apps/user/user-view/{{ row.id }}" class="font-medium-1 d-block"
                      ><span class="font-weight-bold">{{ name }}</span></a
                    >
                    <span class="text-muted font-small-2"> @{{ row.username }}</span>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Role" prop="role" [width]="100">
              <ng-template let-role="value" ngx-datatable-cell-template>
                <div>
                  <i
                    class="feather font-medium-3"
                    [ngClass]="{
                      'icon-edit-2 text-info': role == 'Editor',
                      'icon-settings text-warning': role == 'Author',
                      'icon-database text-success': role == 'Maintainer',
                      'icon-user text-primary': role == 'Subscriber',
                      'icon-slack text-danger': role == 'Admin'
                    }"
                  ></i>
                  {{ role }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Plan" prop="currentPlan" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status" [width]="50">
              <ng-template let-status="value" ngx-datatable-cell-template>
                <div
                  class="badge badge-pill"
                  [ngClass]="{
                    'badge-light-success': status == 'active',
                    'badge-light-secondary': status == 'inactive',
                    'badge-light-warning': status == 'pending'
                  }"
                >
                  {{ status }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div ngbDropdown container="body">
                  <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                    <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                  </button>
                  <div ngbDropdownMenu>
                    <a routerLink="/apps/user/user-view/{{ row.id }}" ngbDropdownItem
                      ><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> Details</a
                    ><a routerLink="/apps/user/user-edit/{{ row.id }}" ngbDropdownItem
                      ><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> Edit</a
                    ><a href="javascript:;" ngbDropdownItem
                      ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Delete</a
                    >
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </section>
      <!--/ User List -->
    </div>
  
    <!-- New User Sidebar -->
    <core-sidebar
      class="modal modal-slide-in sidebar-todo-modal fade"
      name="new-user-sidebar"
      overlayClass="modal-backdrop"
    >
      <app-new-user-sidebar></app-new-user-sidebar>
    </core-sidebar>
    <!--/ New User Sidebar -->
  </div>
  