<h2 class="card-title font-weight-bold mb-1">Forgot Password? 🔒</h2>
<p class="card-text mb-2">Enter your email and we'll send you instructions to reset your password</p>
<ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
	<div class="alert-body">
		<p>{{ error }}</p>
	</div>
</ngb-alert>
<form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label class="form-label" for="forgot-password-email">Email</label>
		<input class="form-control" type="text" formControlName="email" placeholder="Enter Email" aria-describedby="forgot-password-email" autofocus="" tabindex="1" [ngClass]="{ 'is-invalid': submitted && formData.email.errors }" />
		<div *ngIf="submitted && formData.email.errors" class="invalid-feedback">
			<div *ngIf="formData.email.errors.required">Email is required</div>
			<div *ngIf="formData.email.errors.email">Email must be a valid email address</div>
		</div>
	</div>
	<button class="btn btn-primary btn-block" tabindex="2" rippleEffect>
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Send reset link
    </button>
</form>
<p class="text-center mt-2">
	<a routerLink="/authentication/login">
		<i data-feather="chevron-left" class="mb-25"></i> Back to login </a>
</p>