<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row">
      <div class="col-12 p-4">
        <h4 class="mb-2">Layout Blank</h4>

        <!-- alert -->
        <ngb-alert [type]="'primary'" [dismissible]="false">
          <div class="alert-body">
            <strong>Info: </strong> This layout is used in Authentication & Miscellaneous page. Please check the Layout
            blank <a href="#" class="alert-link">documentation</a> for more details.
          </div>
        </ngb-alert>
        <!--/ alert -->
      </div>
    </div>
  </div>
</div>
