<div class="slideout-content">
  <!-- Modal to add new child starts-->
  <div class="modal modal-slide-in new-child-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <form class="add-new-child modal-content pt-0" (ngSubmit)="(newchildForm.form.valid)" #newchildForm="ngForm">
        <button
          type="reset"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-children-sidebar')"
          rippleEffect
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="id === 0">New Child</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="id !== 0">Edit Child</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">First Name</label>
            <input
              type="text"
              class="form-control dt-first-name"
              id="basic-icon-default-firstname"
              placeholder="First Name"
              name="child-firstname"
              [(ngModel)]="firstname"
              [class.error]="newchildForm.submitted && FNameRef.invalid"
              #FNameRef="ngModel"
              requireds
              aria-label="John Doe"
              aria-describedby="basic-icon-default-fullname2"
            />
            <span *ngIf="newchildForm.submitted && FNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is required!</small>
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">Middle Name</label>
            <input
              type="text"
              class="form-control dt-full-name"
              id="basic-icon-default-fullname"
              placeholder="Middle Name"
              name="child-middlename"
              [(ngModel)]="middlename"
              [class.error]="newchildForm.submitted && FNameRef.invalid"
              #FNameRef="ngModel"
              aria-label="John Doe"
              aria-describedby="basic-icon-default-fullname2"
            />
            <span *ngIf="newchildForm.submitted && FNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is required!</small>
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-uname">Last Name</label>
            <input
              type="text"
              id="basic-icon-default-lastname"
              class="form-control dt-uname"
              placeholder="Last Name"
              aria-label="jdoe1"
              aria-describedby="basic-icon-default-uname2"
              name="child-name"
              [(ngModel)]="lastname"
              [class.error]="newchildForm.submitted && FchildNameRef.invalid"
              #FchildNameRef="ngModel"
              required
            />
            <span *ngIf="newchildForm.submitted && FchildNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FchildNameRef.errors.required">This field is required!</small>
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-email">DOB</label>
            <input
              type="date"
              id="basic-icon-default-email"
              class="form-control datepicker"
              aria-describedby="basic-icon-default-dob"
              name="child-dob"
              [(ngModel)]="dob"
              [class.error]="newchildForm.submitted && FDobRef.invalid"
              #FDobRef="ngModel"
              required
            />
            <span *ngIf="newchildForm.submitted && FDobRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FDobRef.errors.required">This field is required!</small>
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="basic-icon-default-fullname">Address</label>
            <input
              type="text"
              class="form-control dt-address"
              id="basic-icon-default-address"
              name="child-address"
              [(ngModel)]="address"
              [class.error]="newchildForm.submitted && FAddressRef.invalid"
              #FAddressRef="ngModel"
              required
              aria-label="John Doe"
              aria-describedby="basic-icon-default-fullname2"
            />
            <span *ngIf="newchildForm.submitted && FAddressRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="FAddressRef.errors.required">This field is required!</small>
            </span>
          </div>

          <div class="form-group">
            <label class="form-label" for="vertical-sex">Sex</label>
            <ng-select 
              [items]="sexOptions"
              [searchable]="false"
              bindLabel="name"
              bindValue="id"
              name="child-sex"
              [(ngModel)]="sex"
              (change)="changeSelect($event)"
              required
            >
            </ng-select>
          </div>
                  
          <div class="form-group">
            <label class="form-label" for="vertical-nationality">Nationality</label>
            <ng-select 
              [items]="countrylist"
              [searchable]="true"
              bindLabel="name"
              bindValue="id"
              name="child-nationality"
              [(ngModel)]="nationality"
              (change)="changeNationalitySelect($event)"
              required
            >
            </ng-select>
          </div>

          <button type="submit" class="btn btn-primary mr-1" (click)="submit(newchildForm)" rippleEffect>Submit</button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="toggleSidebar('new-children-sidebar')"
            rippleEffect
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal to add new child Ends-->
</div>
