<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- i18n translate -->
    <core-card-snippet [snippetCode]="_snippetCodei18n">
      <h4 class="card-title">Change Locale</h4>
      <div class="card-body">
        <div class="language-options">
          <div
            *ngFor="let lang of _translateService.getLangs()"
            class="custom-control custom-control-primary custom-radio mb-50"
          >
            <input
              class="i18n-lang-option custom-control-input"
              type="radio"
              name="i18n-lang-radios"
              [checked]="lang === _translateService.currentLang"
              [value]="lang"
              id="{{ languageOptions[lang].title }}"
              (change)="setLanguage($event.target.value)"
            />
            <label class="custom-control-label" for="{{ languageOptions[lang].title }}">
              {{ languageOptions[lang].title }}
            </label>
          </div>
        </div>

        <div class="card-localization border rounded mt-3 p-2">
          <h5 class="mb-1">{{ 'CARD.TITLE' | translate }}</h5>
          <div class="card-text">{{ 'CARD.TEXT' | translate }}</div>
        </div>
      </div>
    </core-card-snippet>
    <!--/ i18n translate -->
  </div>
</div>
