<h2 class="card-title font-weight-bold mb-1">Forgot Password? 🔒</h2>
<p class="card-text mb-2">Please enter the code sent to your email and create a new password</p>
<ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
	<div class="alert-body">
		<p>{{ error }}</p>
	</div>
</ngb-alert>
<form class="auth-login-form mt-2" [formGroup]="forgotPasswordForm">
	<input type="hidden" formControlName="email" />
    <div class="form-group">
		<div class="d-flex justify-content-between">
			<label class="form-label" for="login-code">Code</label>
		  	<a href="javascript:void(0);" (click)="resendCode()" *ngIf="!loading">
				<small>Resend</small>
		  	</a>
		</div>
		<input type="password" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.code.errors }" placeholder="Enter Code" aria-describedby="login-code" autofocus="" tabindex="1" />
		<div *ngIf="submitted && formData.code.errors" class="invalid-feedback">
			<div *ngIf="formData.code.errors.required">Code is required</div>
		</div>
	</div>
	<div class="form-group">
		<div class="d-flex justify-content-between">
			<label for="login-password">New Password</label>
		</div>
		<div class="input-group input-group-merge form-password-toggle">
			<input [type]="passwordTextType ? 'text' : 'password'" formControlName="password" class="form-control form-control-merge" [ngClass]="{ 'is-invalid error': submitted && formData.password.errors }" placeholder="Enter New Password" aria-describedby="login-password" tabindex="2" />
			<div class="input-group-append">
				<span class="input-group-text cursor-pointer">
					<i class="feather font-small-4" [ngClass]="{
			        'icon-eye-off': passwordTextType,
			        'icon-eye': !passwordTextType
			      }" (click)="togglePasswordTextType()"></i>
				</span>
			</div>
		</div>
		<div *ngIf="submitted && formData.password.errors" class="invalid-feedback" [ngClass]="{ 'd-block': submitted && formData.password.errors }">
			<div *ngIf="formData.password.errors.required">New Password is required</div>
		</div>
	</div>
    <div class="form-group">
		<div class="d-flex justify-content-between">
			<label for="login-password">Confirm New Password</label>
		</div>
        <input type="password" formControlName="confirmPassword" class="form-control form-control-merge" [ngClass]="{ 'is-invalid error': submitted && formData.confirmPassword.errors }" placeholder="Confirm New Password" aria-describedby="login-password" tabindex="3" />
		<div *ngIf="submitted && formData.confirmPassword.errors" class="invalid-feedback" [ngClass]="{ 'd-block': submitted && formData.confirmPassword.errors }">
			<div *ngIf="formData.confirmPassword.errors.required">Confirm New Password is required</div>
		</div>
	</div>
	<button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect (click)="onSubmit()">
		<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit </button>
</form>
<p class="text-center mt-2">
	<a (click)="backToMain.next()">
		<i data-feather="chevron-left" class="mb-25"></i> Use a different account </a>
</p>